 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

        * {
            box-sizing: border-box;
        }
        html, body {
        min-height: 100vh;
        margin: 0;
        }

        html {
            background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
        }
        body {
            font-family: 'Orbitron', sans-serif;
            color: #fff;
        }

        header {
            background: rgba(0,0,0,0.7);
            padding: 20px;
            text-align: center;
            font-size: 20px;
            border-radius: 8px;
            color: #00ffea;
            text-shadow: 0 0 10px #00ffea, 0 0 20px #00ffea;
            box-shadow: 0 0 10px #00ffea, 0 0 20px #ff00ff;
            display: flex;
  flex-direction: column;
  gap: 1rem;
        }

        .btn-container {
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .log-container {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            align-items: center;
        }

        

        p a, input[type="submit"], button  {
            background: linear-gradient(135deg, #00ffea, #ff00ff);
            padding: 10px;
            width:250px;
            height: auto;
            margin: 20px;
            border-radius: 8px;
            color: white;
            text-decoration: none;
            text-align: center;
            

        }

        input[type="username"], input[type="password"], input[type="email"] {
            background-color: #726bc8;
            color: white;
            font-size: 20px;
        }

       
        p a:hover, button:hover, input[type='submit']:hover {
            background: linear-gradient(-135deg, #00ffea, #ff00ff);
        }

        label {
            margin-right: 20px;
        }

        .error {
            color: red;
            text-align: center;
        }


        form p {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        button a {
            color: white;
            text-decoration: none;
        }